/* This stylesheet is for the resume page only */

div {
  border-bottom: 2px solid black;
  padding: 15px;
  margin: 6px;
  background-color: white;
}
.content-wrap {
  width: 800px
  padding: 10px;
  margin: 0 auto;
  background-color: white;
}.col-nar
{col-width: 30%
}
}.col-nwide
{col-width: 70%
}
body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

h2 {
  color: black;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
 h3 {
  display: inline; color: black;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
