
/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
div {
  border: 5px solid YellowGreen;
  padding: 10px;
  margin: 15px;
}

body {
  background-color: lightblue;
  font-family: verdana;
}

h1 {
  color: black;
  text-align: center;
  font-family: verdana;
  font-size: 40px;
}

h2 {
  color: black;
  text-align: center;
  font-family: verdana;
  font-size: 20px;
}

p {
  font-family: verdana;
  font-size: 14px;
}
ul {
  font-family: verdana;
  font-size: 14px;
}
