/*
.flex-container {
  display: flex;
  flex-wrap: nowrap;}
 */
.flex-container > div {
  width: 420px;
  margin: 4px;
  text-align: left;
}


html{font-size:100%;} 
@media(min-width:60em){html{font-size: 100%}}
div {
  padding: 2px 10px;
  margin: 4px;
  width: 420px;
  display: inline-block;
  border-style: outset;
  border-color: #00cc66;
  border-width: 4px;
}

body {
  background-color:#e6fff5;
  font-family: verdana;
}

h1 {
  color: black;
  text-align: center;
  font-family: verdana;
  font-size: 30px;
  background-color: white
}

h2 {
  color: black;
  text-align: left;
  font-family: verdana;
  font-size: 20px;
}
h2.linkdtitle {
  text-align: center;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif, verdana;
}

p {
  font-family: Arial, Helvetica, sans-serif, verdana;
  font-size: 16px;
  padding: 14px;
}
ul {
  font-family: verdana;
  font-size: 16px;
}


.right {
  float: right;
  padding: 10px;
  font-family: verdana;
}
